extends ../_layouts/base

include ../_modules/hero/hero
include ../_modules/card/card
include ../_modules/slider/slider
include ../_modules/section-title/section-title

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.detail

        +hero('/images/hero.jpg', "Nombre de excursión o traslado", site.data.excursiones.subHeading)
        
        .container.-vertical-space
            .row
                .col-xs-24.col-sm-12.col-md-10.col-lg-8
                    h2 Descripción
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    
                    h2 Itinerario
                    dl
                        dt 8:00
                        dd Loren ipsum dolor
                        
                        dt 10:00
                        dd Loren ipsum dolor
                        
                        dt 13:00
                        dd Loren ipsum dolor
                        
                        dt 16:00
                        dd Loren ipsum dolor
                        
                .col-xs-24.col-sm-10.col-md-12.col-lg-14.pull-right
                    h2.-vertical-space-bottom Fotos
                    ul.row._gallery
                        each item in site.data.home.gallery.items
                            if ( item.type == "photo" )
                                .col-xs-12.col-sm-8.col-md-6._item(data-toggle="modal",data-target="#lightbox", data-mode=item.type, class="-#{item.type}")
                                    img(src=item.url, class="_image")
                                    
                            if  ( item.type == "video" )
                                .col-xs-12.col-sm-8.col-md-6._item(data-toggle="modal",data-target="#lightbox", data-mode=item.type, class="-#{item.type}")
                                    img(src="http://img.youtube.com/vi/#{item.url}/maxresdefault.jpg", class="_video", data-video=item.url)
                                    
        section._testimonios.-vertical-space.-alt-bg
            .container
                .row
                    .col-xs-24.text-center
                        h2 Testimonios
                    .col-xs-24
                        +slider(site.data.home.testimonials.slides)
        
        section.contact._contact.-vertical-space
            .container
                .row
                    .col-xs-24.col-sm-18.col-sm-offset-3.col-md-16.col-md-offset-4
                        +section-title(site.data.home.contact.heading, site.data.home.contact.subHeading)
                .row
                    .col-xs-24.col-sm-12
                        ._block
                            h4 Seguínos en las redes sociales
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            ul._social
                                each item in site.data.social
                                    li
                                        a(href=item.url)
                                            i(class="fa fa-#{item.name}")
                            
                        ._block
                            .row    
                                .col-xs-24.col-sm-12._data
                                    h4 Dirección
                                    dl
                                        dt
                                            i.fa.fa-map-marker
                                        dd  Calle 1234, Ushuaia
                                        
                                        dt
                                            i.fa.fa-phone
                                        dd  (123) 456-7890
                                        
                                        dt
                                            i.fa.fa-envelope
                                        dd  
                                            a(href="mailto:contacto@cincohermanos.com") contacto@cincohermanos.com
                                            
                                        
                                .col-xs-24.col-sm-12._horarios
                                    h4 Horarios
                                    dl
                                        dt
                                            i.fa.fa-clock-o
                                        dd  
                                            strong Lun - Vie
                                            span  10 a 19
                                        
                                        dt
                                            i.fa.fa-clock-o
                                        dd  
                                            strong Sab
                                            span  10 a 13
                                        
                                        dt
                                            i.fa.fa-clock-o
                                        dd  
                                            strong Dom
                                            span  Cerrado
                                        
                        
                    .col-xs-24.col-sm-12
                        ._block
                            h4 Escribinos tu consulta
                            form._form
                                input(placeholder="Nombre", type="text")
                                input(placeholder="Email",type="email")
                                label Mensaje
                                textarea(rows="7")
                                
        section._relacionados.-vertical-space.-alt-bg
            .container
                .row
                    .col-xs-24
                        +section-title("Otr@s traslados/excursiones (según sea el caso)")
                        ul.card-list
                            each item in site.data.traslados.list
                                li
                                    +card(item)
                                    
    include ../_modules/modal/modal
                    
            
                        
